<h1>OfficeHours#index</h1>
<p>Find me in app/views/office_hours/index.html.erb</p>


<%= form_tag("/office_hours/set_office_hours", method: "post") do %>
	<%= select_tag(:startday, options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], @startday)) %>
	<%= select_tag(:endday, options_for_select([['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6]], @endday)) %>
	<%= select_tag(:starttime, options_for_select((6..22), @starttime)) %>
	<%= select_tag(:endtime, options_for_select((6..22), @endtime)) %>
sdaf
	<input type="submit" value="Change Office Hours" class="btn btn-success"/>
<% end %>


