<h1>Forwarding Numbers</h1>

<p id="notice"><%= notice %></p>


<h2>Active Numbers</h2>
<div class="container">
  <div class="col-sm-6">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Area</th>
          <th>Name</th>
          <th>Number</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><%= @active_numbers[0].area.capitalize %></td>
          <td><%= @active_numbers[0].name %></td>
          <td><%= @active_numbers[0].number %></td>
        </tr>
        <tr>
          <td><%= @active_numbers[1].area.capitalize %></td>
          <td><%= @active_numbers[1].name %></td>
          <td><%= @active_numbers[1].number %></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>


<h3>Support Numbers</h3>
<div class="container">
  <div class="col-sm-6">

    <%= form_tag("/callforward/set_active_number", method: "post") do %>
    <tbody>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th class="col-sm-2">Name</th>
            <th class="col-sm-6">Number</th>
            <th class="col-sm-2"></th>
            <th class="col-sm-2"></th>
            <th class="col-sm-1"></th>
          </tr>
        </thead>
        
        <% @support_numbers.each_with_index do |support_number, i| %>
        <tr>
          <td><%= support_number.name %></td>
          <td><%= support_number.number %></td>
          <td><%= link_to 'Edit', edit_support_number_path(support_number) %></td>
          <td><%= link_to 'Delete', support_number, method: :delete, data: { confirm: "Are you sure you want to delete #{support_number.name.capitalize} (#{support_number.number})?" } %></td>
          <td><%= radio_button_tag(:support_index, i, support_number.number==@current_support_number) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <input type="submit" value="Change Support Number" class="btn btn-success"/>
    <% end %>
    <br>
    <%= link_to 'New Support number', new_support_number_path, class: "btn btn-info" %>

  </div>
</div>
<br>




<h3>Sales Numbers</h3>
<div class="container">
  <div class="col-sm-6">
    <%= form_tag("/callforward/set_active_number", method: "post") do %>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="col-sm-2">Name</th>
          <th class="col-sm-6">Number</th>
          <th class="col-sm-2"></th>
          <th class="col-sm-2"></th>
          <th class="col-sm-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @sales_numbers.each_with_index do |sales_number, i| %>
        <tr>
          <td><%= sales_number.name %></td>
          <td><%= sales_number.number %></td>
          <td><%= link_to 'Edit', edit_sales_number_path(sales_number) %></td>
          <td><%= link_to 'Delete', sales_number, method: :delete, data: { confirm: "Are you sure you want to delete #{sales_number.name.capitalize} (#{sales_number.number})?" } %></td>
          <td><%= radio_button_tag(:sales_index, i, sales_number.number==@current_sales_number) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <input type="submit" value="Change Sales Number" class="btn btn-success"/>
    <% end %>
    <br>
    <%= link_to 'New Sales number', new_sales_number_path, class: "btn btn-info"  %>
  </div>
</div>
<br>


